.verbs, .nouns, .adj {
  color: white;
  background-color: rgba(148, 134, 8, 0.5);
}

.pos {
  color: white;
  background-color: rgba(40, 194, 26, 0.4);
}

.neg {
  color: white;
  background-color: rgba(187, 22, 22, 0.4);
}

.interactive_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}